.bar-container {
    height: 10px;
    background-color: #e5e7eb; /* gris claro */
    border-radius: 4px;
    overflow: hidden;
}

.bar-fill-income {
    height: 100%;
    background-color: #38a169;
    /* Verde */
}

.bar-fill-expense {
    height: 100%;
    background-color: rgb(192, 62, 39);
    /* Rojo */
}
